<div class="col-sm-10">
    <h2>Website made by:</h2>
    <h3><a href="https://github.com/RainPumpkin">Manuel Silva</a>, 46061, LI52D</h3>
    <h3><a href="https://github.com/SPUTNIKBIPBIP">Daniel Azevedo</a>, 45827, LI52D</h3>
    <br>
    <h2>Teacher:</h2>
    <h3><a href="https://github.com/fmcarvalho">Fernando Miguel Gamboa de Carvalho</a></h3>
</div>