<div class="col-sm-10">
    <h2>Add new game to group:</h2>
    <form method="post">
        <div class="row">
            <div class="col">
                <input type="text" class="form-control" placeholder="Title" name="Title">
            </div>
            <div class="col">
                <input type="submit" class="form-control btn-primary">
            </div>
        </div>
    </form>
</div>