<script src="/login.js" type="text/javascript"></script>

<h2>Login</h2>
<div class="mb-3">
    <label class="form-label">Username</label>
    <input type="text" class="form-control" id="inUsername" required>
</div>
<div class="mb-3">
    <label class="form-label">Password</label>
    <input type="password" class="form-control" id="inPassword" required>
</div>
<div>
    <button type="submit" class="btn btn-success" id="btLogin">Login</button>
</div>